#stack {
  width: 30%;
}

#name {
  width: 30%;
}

#form-submit {
  margin-top: 2%;
}

#js {
  display: none;
  font-size: 2em;
}

#swift {
  display: none;
  font-size: 2em;
}

#java {
  display: none;
  font-size: 2em;
}

#scala {
  display: none;
  font-size: 2em;
}

body {
  background-image: url(https://imgcy.trivago.com/c_limit,d_dummy.jpeg,f_auto,h_1300,q_auto,w_2000/itemimages/16/07/160773_v8.jpeg);
  width: 100%;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 5em;
  text-align: center;
  margin: 3%;
}