#js {
  display: none;
}

#swift {
  display: none;
}

#java {
  display: none;
}

#scala {
  display: none;
}

body {
  background-image: url(https://imgcy.trivago.com/c_limit,d_dummy.jpeg,f_auto,h_1300,q_auto,w_2000/itemimages/16/07/160773_v8.jpeg);
  width: 100%;
}