#stack {
  width: 30%;
}

#name {
  width: 30%;
}

#form-submit {
  margin-top: 2%;
}

#js {
  display: none;
  font-size: 2em;
}

#swift {
  display: none;
  font-size: 2em;
}

#java {
  display: none;
  font-size: 2em;
}

#scala {
  display: none;
  font-size: 2em;
}

body {
  background-image: url(https://www.publicdomainpictures.net/pictures/150000/velka/tropical-beach-1454007190ZAK.jpg);
  font-family: 'Montserrat', sans-serif;
}

.jumbotron {
  background-color: #7ebdb4;
  padding: 2%;
  margin: auto;
}

.head-img {
  width: 50%;
  float: right;
  margin-right: 2%;
}

.logo-img {
  width: 10%;
}

h1 {
  font-size: 5em;
  text-align: center;
  margin: 3%;
}
